body {
  font: 400 15px;
  line-height: 1.8;
  color: #29435c;
}
h2 {
  font-size: 24px;
  font-family: Cinzel decorative;
  text-transform: uppercase;
  color: #29435c;
  font-weight: 600;
  margin-bottom: 30px;
}
h3 {
  font-family: Cinzel decorative;
  font-size: 35px;
}
h4 {
  font-size: 19px;
  font-family: Cinzel;
  line-height: 1.375em;
  color: #000000;
  font-weight: 400;
  margin-bottom: 30px;
}  
p {
    font-family: Cinzel;
    font-size: 15px;
}
.jumbotron {
  background-color: #152a38;
  color: #fff;
  padding: 40px 25px;
  font-family: Cinzel;
}
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #d1d4c9;
}
.navbar {
  margin-bottom: 0;
  background-color: #556e53;
  border: 0;
  font-size: 20px;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Cinzel decorative;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #29435c !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
footer .glyphicon {
  font-size: 40px;
  margin-bottom: 20px;
  color: #29435c;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}